.card-selected {
    transform: scale(2); /* 클릭된 카드 살짝 확대 */
    transition: transform 0.3s ease-in-out;
    z-index: 1; /* 카드가 확대될 때 다른 카드 위에 보이도록 설정 */
}

.time-picker-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: #f0f0f0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}
